.single-infographics .row.main-block, .post-type-archive-infographics .row.main-block {
    background: none;
}
.single-infographics .row.main-block{
    padding-top: 60px;
}

h1.info-title {
    font-family: Georgia;
    font-size: 24px;
    color: #3C3C3C;
    letter-spacing: 0;
}

h2.info-category {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
    color: #898989;
    letter-spacing: 0;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.info-tags {
    margin-bottom: 45px;
}

h3.info-tags-title{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
    color: #3C3C3C;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 26px;
    padding: 30px 0 0 0;
    margin-bottom: 30px;
}

.info-tags p {
    display: inline-block;
    margin-right: 30px;
    text-transform: capitalize;
}

.info-buttons button, span.st_sharethis_custom {
    background: #00BCE3;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10);
    border-radius: 6px;
    text-transform: uppercase;
    margin-right: 45px;
    width: 166px;
    margin-bottom: 30px;
    padding: 16px;
}

h6.info-title.hide-for-small-only, h6.info-title.show-for-small-only {
    color: #898989;
    font-size: 1rem;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

h6.info-title.show-for-small-only{
    font-size: .9rem;
}

h6.info-title a {
    font-weight: bold;
}

button.btn-copy {
    margin-bottom: 16px !important;
    top: -10px;
}

span.st_sharethis_custom {
    font-size: 1rem;
    font-weight: 400;
    padding: 16px 56px;
    margin-bottom: 16px;
}

button.button.dropdown.embed {
    padding-right: 16px;
}

button.button.dropdown.embed:after{
    display: none;
}

div#success-modal, div#failure-modal {
    display: none;
}

#drop2 textarea {
    width: 100%;
    display: block;
    border-top: solid 2px #979797;
    border-left: solid 2px #979797;
    border-bottom: solid 2px #979797;
    border-right: solid 2px #979797;
    padding: 15px;
    border-radius: 0;
    margin-bottom: 30px;
    min-height: 140px;
}

#drop2 p {
    display: inline-block;
}

.info-buttons.full button {
    margin-top: 30px;
}

.info-sources-images img {
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10);
}

.small-6.columns.info-sources-images {
    padding: 0;
}

.small-6.columns.info-sources-images:first-of-type {
    padding-left: 0;
    padding-right: 30px;
}

.info-sources-links a {
    font-family: Helvetica;
    font-size: 16px;
    color: #898989;
    letter-spacing: 0;
    line-height: 26px;
    display: block;
    margin-bottom: 30px;
}

.info-sources-links a:hover {
    color: #00BCE3;
    text-decoration: underline;
}

.medium-6.columns.info-right {
    padding-top: 92px;
}

.info-back button{
    background: #FFFFFF;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10);
    font-family: Georgia;
    font-size: 20px;
    color: #3C3C3C;
    letter-spacing: 0;
    width: 228px;
    padding-left: 45px;
    float: left;
    margin-bottom: 60px;
}



span.st_sharethis_custom:hover, .info-buttons button:hover {
    background-color: #007095;
    color: #FFF;
}

.info-back button:hover{
    background: #f8f8f8;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.20);
    color: #333333;
}

a.button.share {
    background: none;
    padding: 0;
    margin-bottom: 32px !important;
}

.copy-instructions {
    max-width: 400px;
}

a.info-back:after{
    display: inline-block;
    content: "";
    background: url(../images/back-arrow-infographic.png) center center no-repeat;
    width: 20px;
    height: 32px;
    position: relative;
    top: 11px;
    left: -210px;
    float: left;
    background-size: 50%;
}

.full-image .medium-6.columns, .info-buttons .large-12.columns {
    padding: 0;
}

.info-title-wrap {
    padding: 0 30px;
    max-width: 1200px;
    margin: auto;
}

.post-type-archive-infographics .info-archive-title{
    background: #FFF;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10);
    padding: 70px 30px;
    margin: 0 auto;
}

.info-archive-title h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.info-archive-title p {
    font-family: inherit;
    line-height: 26px;
}

.info-svg{
    text-align: center;
}

 .post-type-archive-infographics .row.main-block {
    max-width: none;
    padding: 45px 0;
}

 .post-type-archive-infographics div#grid{
    max-width: 1155px;
    margin: 0 auto;
}

.post-type-archive-infographics .small-12.medium-6.columns.filters-group, .post-type-archive-infographics .small-12.medium-6.columns.btn-group {
    padding: 0;
 }

 .post-type-archive-infographics .clearfix .small-12.columns:first-of-type {
    padding: 0;
}

.info-search{
    max-width: 100% !important;
    background: #00BCE3;
    margin: 45px auto !important;
    padding: 45px 0;
    position: static;
    position: -webkit-sticky;
    top: 75px;
    position: sticky;
    z-index: 1;
}

.info-search .row {
    max-width: 1155px;
    margin: 0 auto;
    padding: 0 30px;
}

@media only screen and (max-width: 767px) {
    .info-search .row {
        padding: 0 15px;
    }
}


.info-search .row label.filter-label {
    display: none;
}

.info-search input#filters-search-input {
    width: 100%;
    height: 87px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10);
    font-family: Georgia, FontAwesome;
    font-size: 24px;
    color: #898989;
    letter-spacing: 0;
    border-radius: 0;
    border: none;
    padding-left: 30px;
    -webkit-appearance: none;
    background: #fff;
}


input#filters-search-input::placeholder {
    font-family: FontAwesome, Georgia;
    font-size: 24px;
    font-weight: 400 !important;
    color: #898989;
    letter-spacing: 0;
}

input#filters-search-input::-webkit-input-placeholder {
    font-family: FontAwesome, Georgia;
    font-size: 24px;
    font-weight: 400 !important;
    color: #898989;
    letter-spacing: 0;
}

input#filters-search-input::-moz-placeholder {
    font-family: FontAwesome, Georgia;
    font-size: 24px;
    font-weight: 400 !important;
    color: #898989;
    letter-spacing: 0;
}


input#filters-search-input:-ms-input-placeholder {
    font-family: FontAwesome, Georgia;
    font-size: 24px;
    font-weight: 400 !important;
    color: #898989;
    letter-spacing: 0;
}

.aspect__inner {
    position: relative;
    max-height: 450px;
    overflow: hidden;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.1);
}

.aspect__inner img {
    width: 100%;
    height: auto;
}

.info-hover{
    display: none;
}

.aspect__inner:hover > .info-hover {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
}

.info-hover button {
    text-align: center;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 32px;
    font-family: Georgia;
    background: none;
    border: none;
    margin: 0 !important;
    padding: 0;
}

li.btn.btn--primary.active {
    background: #EEE;
}

figcaption.picture-item__title {
    display: none;
}

div.columns.shuffle-item.shuffle-item--visible {
    padding: 30px !important;
}

.f-open-dropdown {
    left: -100% !important;
    width: 200% !important;
    max-width: 200% !important;
    padding: 25px 15px;
    top: 85px !important;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10);
    border:none;
    border-top: 2px solid #EBEBEB;
}

.f-dropdown:after, .f-dropdown:before {
    display: none;
}

.f-dropdown li {
    display: block;
    width: 25%;
    float: left;
    padding: 20px 15px;
    font-family: Georgia;
    font-size: 20px;
    color: #003F7B;
    letter-spacing: 0;
}



.post-type-archive-infographics button.button.dropdown {
    font-family: Georgia;
    font-size: 24px;
    color: #3C3C3C;
    letter-spacing: 0;
    width: 100%;
    height: 87px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.10);
    background: #fff;
    text-align: left;
    margin-bottom: 0;
}

.post-type-archive-infographics button.button.dropdown::after {
    position: initial;
    display: inline-block;
    content: "\f107";
    font-family: FontAwesome;
    font-size: 20px;
    color: #3C3C3C;
    border: none;
    font-weight: 100;
    margin-left: 1rem;
    width: initial;
    height: initial;
}

@media only screen and (max-width: 925px) {
.f-dropdown li {
    width: 25%;
    padding: 20px 7px;
}
}

@media only screen and (max-width: 825px) {
.f-dropdown li {
    width: 33.3%;
}

.info-hover button {
    font-size: 18px;
}

.info-buttons button, a.button.share {
    margin-right: 0;
}

    input#filters-search-input::placeholder {
    font-size: 20px;
    }

    input#filters-search-input::-webkit-input-placeholder {
        font-size: 20px;
    }

    input#filters-search-input::-moz-placeholder {
        font-size: 20px;
    }


    input#filters-search-input:-ms-input-placeholder {
        font-size: 20px;
    }

    .post-type-archive-infographics button.button.dropdown{
        font-size: 20px;
    }

}

@media only screen and (max-width: 767px) {
.f-dropdown li {
    width: 100%;
    text-align: center;
    font-size: 16px;
}
}

@media only screen and (max-height: 1024px) {
.info-search{
    padding: 23px 0;
}
.post-type-archive-infographics button.button.dropdown, .info-search input#filters-search-input{
    height: 65px;
}
.f-open-dropdown{
    top: 63px !important;
}

.info-back button{
    margin-bottom: 45px;
}

.single-infographics .row.main-block {
    padding: 15px;
}

.medium-6.columns.info-right {
    padding-right: 0;
}

.info-buttons button, a.button.share {
    margin-bottom: 45px;
}

h3.info-tags-title {
    margin-bottom: 15px;
}

.info-tags {
    margin-bottom: 30px;
}

}

@media only screen and (max-height: 750px) {
.info-search{
    padding: 10px 0;
    top: 107px;
    top: 76px;
}

button.button.dropdown {
    padding-top: 13px;
}

.post-type-archive-infographics button.button.dropdown, .info-search input#filters-search-input{
    height: 50px;
}
.f-open-dropdown{
    top: 48px !important;
}

input#filters-search-input::placeholder {
    font-size: 20px;
    text-align: center;
}

input#filters-search-input::-webkit-input-placeholder {
    font-size: 20px;
    text-align: center;
}

input#filters-search-input::-moz-placeholder {
    font-size: 20px;
    text-align: center;
}


input#filters-search-input:-ms-input-placeholder {
    font-size: 20px;
    text-align: center;
}

}

@media only screen and (max-width: 641px) {

.info-search{
    padding: 10px 0;
    top: 105px;
    position: static;
}

.info-svg svg {
    max-width: 285px !important;
    text-align: center;
    margin: 0 auto;
    display: block;
}

input#filters-search-input::placeholder {
    font-size: 20px;
    text-align: center;
}

input#filters-search-input::-webkit-input-placeholder {
    font-size: 20px;
    text-align: center;
}

input#filters-search-input::-moz-placeholder {
    font-size: 20px;
    text-align: center;
}


input#filters-search-input:-ms-input-placeholder {
    font-size: 20px;
    text-align: center;
}

}

.post-type-archive-infographics button.button.dropdown[aria-expanded=true]::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.small-6.columns.filters-group {
    padding: 0;
}

.small-6.columns.btn-group {
    padding: 0;
}

 .picture-item.in .picture-item__inner {
    -webkit-transform: translate(0);
    opacity: 1;
    transform: translate(0);
}

 .picture-item__inner--transition {
    transition: all .6s ease;
}

 .picture-item__inner {
    -webkit-transform: translateY(220px);
    opacity: 0;
    transform: translateY(220px);
}

#drop1 li.btn.btn--primary.active::after {
    content: attr(data-group);
    display: block;
    font-size: 16px;
}

#drop1.open li.btn.btn--primary.active::after{
    display: none;
}

@media only screen and (max-width: 767px) {
    .f-open-dropdown {
        left: 0 !important;
        width: 100% !important;
        overflow: scroll !important;
    }
    .small-12.medium-6.columns.btn-group {
    padding: 0;
    }
    .post-type-archive-infographics button.button.dropdown{
        text-align: center;
        font-size: 20px;
    }
    .post-type-archive-infographics .row.main-block{
        padding: 0px 0;
    }
    .info-title-wrap{
        padding: 0 15px;
    }

    .aspect__inner{
        max-height: 300px;
    }

    .info-back button {
        width: 100%;
    }

    a.info-back:after{
        top: -74px;
        left: 45px;
    }

    p.show-for-small-only {
    margin-top: 40px;
    }

    .single-infographics .button, .single-infographics button, span.st_sharethis_custom {
        width: 100% !important;
        margin: 0 auto;
        margin-bottom: 30px !important;
        display: block;
        float: none;
    }

    .full-image img {
    max-width: 150px;
    display: block;
    margin: 0 auto;
    }

    .small-12.medium-6.columns.info-sources-images.show-for-small-only {
    margin-bottom: 30px;
    }

    .small-12.columns.show-for-small-only {
    padding-left: 0;
    }
    .medium-6.columns.info-right{
        padding-top: 0;
    }
}

@media only screen and (max-width: 641px) {
    h2.info-category.show-for-small-only, h1.info-title.show-for-small-only {
    line-height: 27px;
    text-align: center;
    display: inline-block !important;
    margin-top: -20px;
    width: 100% !important;
    }

    h2.info-category.show-for-small-only {
    margin-bottom: 45px;
    display: block !important;
    margin-top: 0px;
    }
}
@media only screen and (max-width: 345px) {
    a.info-back:after{
        left: 20px;
    }
}

.scrollToTop {
    width: 75px;
    height: 75px;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    background-color: #00BCE3;
    opacity: .702;
    text-align: center;
    z-index: 1;
}

.scrollToTop i.fa.fa-caret-up {
    font-size: 3em;
    padding-top: 10px
}

a#lhn_help_btn {
    display: none;
}
