/*
Page Elements for Dual Diagnosis
*/
/* 
    Created on : Mar 9, 2015, 2:59:48 PM
    Author     : hubertchang
*/



%hover-list-arrow{
    background-image: url("../images/arrow-sprite-small.png");content: "";height: 25px;left: 0;position: absolute;width: 25px;
}

/*
        Home Promo
*/
#home-promo {overflow:hidden; margin-bottom:40px;}

#split{
    h2{
        text-transform:uppercase; font-size:1.8em; margin-bottom:5px;
        &.small{
            display:block;font-size:1.1em;margin-bottom:5px;
        }
    }
    .text-block{width:60%; margin:40px;}
    #split-left{background:#fafafa url(../images/lightbulb-bg.jpg) top right no-repeat;}
    #split-right{background:#01bce3 url(../images/doc-bg.jpg) top left no-repeat;}
    .light-text{
        color: $white;
        h2{color: $white;}
        p{color:#555;}
    }
    .dark-text{color:#3c3c3c;}
    p{color:#898989;font-size:.9em;}
}

/*          Buttons         */
a.button{border-radius: 3px;color: #fff;font-size: 0.85em;font-weight: 700;padding: 10px 20px;background:#3c3c3c;color:$white;margin: 0 auto;}
a.button:hover{background:#555; color:$white;}
a.button.orange{background:$orange;}
a.button.orange:hover{background:#ff6224;}
a.button.blue{background: $ltblue;}
a.button.blue:hover{background:#00cefc;}
a.button.verticalmargin{margin: $button-margin-vertical 0;}
.round-btn{
    margin-bottom:20px;
    color:#fff;
    text-align: center;
    display:block;
    line-height: 40px;
    padding:0 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #000;
}

.round-btn:hover{
    color:#fff;
    background: #000;
}


.rectangle-btn{
    margin-bottom:20px;
    color:#fff;
    text-align: center;
    display:block;
    line-height: 40px;
    padding:0 30px;
    -webkit-border-radius: 05px;
    -moz-border-radius: 05px;
    border-radius: 05px;
    background: #000; 
}
.rectangle-btn:hover{color:#fff;background: #000;}

/* Bullets */
a.arrow-link{float: left;font-size: 1em;font-weight: 400;overflow: hidden;padding: 0 $column-gutter;position: relative;
             &:before{
                 content:url("../images/arrow-sprite-small.png");top: 0;left: 0;z-index: 3;position:absolute; overflow: hidden;height: 25px;
             }
             &:hover:before{
                 height: 25px;margin-top: 25px;overflow: visible;position: absolute;top: -50px;z-index: 1;
             }
             &:hover{
                 color:#00bce4;
             }
}

/*          Wordpress Images            */
img[class*="wp-image-"]{
    @media #{$small-only}{
        display: block;
        float: none;
        margin: $column-gutter auto;
    }
}

/*        TOC Share           */
#toc-share{
    border:1px solid #ece9e4; overflow:hidden; margin-bottom:40px; min-height:130px;
    .text-block {
        padding: $small-gut;
        ul {
            margin-left: 25px;
            li {
                padding-right:20px;float:left; list-style:none; font-family: Georgia, Helvetica, sans-serif; color:#3c3c3c; font-weight:normal; width:100%;
                a {
                    list-style:none; padding-left:0px;
                    &:before{
                        background-position: left 0;
                        @extend %hover-list-arrow;
                        left: -25px;
                    }
                    &:hover:before{
                        background-position: left -25px;
                        @extend %hover-list-arrow;
                        left: -25px;
                    }
                }
            }
        }
    }
    #share-block{
        padding: $small-gut;
        background:#f5f9fc;
        @extend %flexbox;
        & > div{
            margin:0 auto;width:100px;
            @media #{$medium-down}{
                width: 100%;
            }
            h2{
                font-size:1.2em;
                @media #{$medium-down}{
                    vertical-align: top;
                    margin-top: 0;
                    margin-right: 0.9375em;
                }
            }
        }
    }
}
.fb_iframe_widget > span, .fb_iframe_widget{vertical-align: top !important}

/* Content Tabs */ 
.content-tabs{
    margin:0 0 $small-gut; padding:0; overflow:hidden;
    .menu-wrapper{overflow: hidden; margin-bottom:-1px; z-index:2; background:#f5f9fb; border:1px solid $gray; float:left; width:99.8%;}
    ul.tab-menu{margin:0;list-style-image: none; list-style:none; margin:0; list-style-position:inherit; width:100%; float:left;}
}
.content-tabs ul.tab-menu li a{float:left; height: 100%; padding:13px 10px 13px 40px; color:#555; font-family: Georgia, Helvetica, sans-serif; font-size:1em; font-weight:400; color:#898989; text-shadow:1px 1px #fff;}
.content-tabs ul.tab-menu li a:hover:before,.content-tabs ul.tab-menu li a:before{content:url("../images/tab-arrow.png");left:0;position:absolute; overflow: hidden;height: 50px;}
.content-tabs ul.tab-menu li a:before{top: 0;z-index: 3;}
.content-tabs ul.tab-menu li a:hover{color:#00bce4;}
.content-tabs ul.tab-menu li a:hover:before{top: -50px;overflow: visible;z-index: 1;}
.content-tabs ul.tab-menu li a.current{background-color: #00bce4; color:#fff; text-shadow:-1px -1px #00a5c9;}
.content-tabs ul.tab-menu li a.current:before{height: 150px;margin-top: -150px;overflow: hidden;top: 50px;z-index: 2;}
.content-tabs .tab-content-wrapper{padding:20px 0; overflow: auto; clear:both;}
.content-tabs .tab-content-wrapper h3, .content-tabs .tab-content-wrapper h2{line-height: 1.5em;}
@media #{$small-up}{
    .content-tabs ul.tab-menu li{
        list-style:none; list-style-image:none; float:left; margin:0;min-height: 50px;}    
}
@media #{$large-down}{
    .content-tabs ul.tab-menu li a, .content-tabs ul.tab-menu li{width: 100%;}
    .content-tabs ul.tab-menu li a{padding:12px 10px 12px 40px;}
}

/* List Arrow */
ul.arrow li{background: url(../images/arrow-gray.png) top left no-repeat; list-style:none; padding-left:25px; line-height: 25px; list-style:none; font-family: Georgia, Helvetica, sans-serif;  font-weight:normal;}
ul.arrow li {
    a {
        list-style:none;
        &:before{
            background-position: left -50px;
            @extend %hover-list-arrow;
        }
        &:hover:before{
            background-position: left -25px;
            @extend %hover-list-arrow;
        }
    }
}


/* Sidebar & Widgets
-------------------------------------------------------------------------------*/
/* widget */
aside, .widget {margin-bottom: $small-gut; /*overflow:auto;*/}

/* nav menu */
aside .widget_nav_menu{}
aside .widget_nav_menu ul{}
aside .widget_nav_menu ul li{list-style:none; background: url(../images/arrow-sprite.png) 0 -50px no-repeat; padding-left: 30px;  height:30px; margin-bottom:5px; border-bottom:1px solid $gray;}
aside .widget_nav_menu ul li a{height:25px; line-height:25px; display:block; font-weight:bold;}
aside .widget_nav_menu li:hover{background-position: 0 -25px;}
aside .widget_nav_menu li.current_page_item a, 
aside .widget_nav_menu li.current_page_parent a, 
aside .widget_nav_menu li.current-cat a,
aside .widget_nav_menu li.current-cat-parent a {
    color:#00bce4;border-bottom:4px solid #fff; margin-bottom:-4px;
}

/* Search Form */
.widget_search{
    background: transparent;
    @media #{$large-down}{
        padding: 15px;
        background: $orange;
        h2{
            color: $white;
        }
    }
}
#searchform {
    div{
        input#s{
            width: 100%;
            margin-top: $small-gut;
            @media #{$large-up}{
                width: 69%;
                margin-top: 0;
            }
        }
        #searchsubmit{
            min-width: 80px;
            text-transform: uppercase;
            @media #{$large-down}{
                display: block;
                margin: 0.9375em auto;
            }
        }
    }
    
}

/* Icons */ 
.icon-sm-resources  > a, .icon-sm-lightbulb  > a, .icon-sm-bubble > a{vertical-align: top;}
.icon-sm-resources:before, .icon-sm-lightbulb:before, .icon-sm-bubble:before{
    float: left;
    width: 38px;
    @media #{$medium-down}{
        float: none;
    }
}
.icon-sm-bubble:before{content: url("../images/icon-sm-bubble.png");}
.icon-sm-lightbulb:before{content: url("../images/icon-sm-lightbulb.png");}
.icon-sm-resources:before{content: url("../images/icon-sm-resources.png");}

/* CTA Block */
.cta-block{
    border:1px solid $gray; clear:both; margin-bottom:40px; overflow:hidden; color:#898989;
    p{margin-bottom: 0;}
    .text-block{
        padding:20px;
        h2{margin-bottom:0; color:#898989;}
        p{margin-bottom:0;}
    }
    .side-block{
        padding:20px; 
        float:right; 
        max-width:300px;}
    .phone{
        font-weight:700;
        font-size:2.25rem;
        margin-bottom: 1.25rem; 
        @media #{$medium-up}{
            font-size: 1.55rem;
            margin-bottom: 0;
        }
    }
    @media #{$medium-down}{
        border: 3px solid $orange;
    }
}
/*Span Styling*/
span.orange{display: inline-block;}

/*Panel*/
.panel{
    background: #fafafa;
    border-color: $gray;
}


/* Boxes */
.box{border: 1px solid #e5e5e5; padding:20px;padding-top:18px; margin:40px 0px;clear:both;overflow:auto;}
.box.lblue {font-size:15px;background:#edf4ff;border:1px solid #c0ccdf;margin-top:0px;line-height:1.3em;color:#003f7b;
            @media #{$large-down}{
                margin: $small-gut 0;
            }
}
.box.lblue h2 { color:#0082c8; } 
.box.lblue h3 { color:#0082c8; }
.box.lgray {background:#f5f5f5;margin-top:10px;font-size:15px;line-height:1.3em;}
.box.top { margin-top:4px; }
.box.bottom { margin-bottom:20px; }
.box.gray{
    font-size:1em;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}
.box.gray p {line-height:1.5em;}

.transparent {
    background:#ffffff;
    background:rgba(250,250,250,0.75);
    color: #434343;
    margin:0em; 
    padding:0.75em;
}

.transparent h2{color: #434343;}

.boxbackground {color:#327078;font-size:16px;line-height:1.4em;border: 1px solid #c1eaef; padding:15px 20px 16px 20px; margin:20px 0;clear:both;overflow:auto;}
.boxbackground ul { padding-bottom:10px;margin-top:10px;margin-right:10px;}
.boxbackground ul li { margin-bottom:6px; }
