/*
Footer Stylings Dual Diagnosis
*/
/* 
    Created on : Mar 13, 2015, 1:47:48 PM
    Author     : hubertchang
*/

/* Footer
-------------------------------------------------------------------------------*/
footer{clear:both;
       #footer-top{background:#3c3c3c; padding:50px 0; overflow:hidden;}
       #company-info{overflow:hidden; float:left;
                     #footer-logo{background: url(../images/logo-footer.png) top left no-repeat; width:201px; height:36px;text-indent: -9999px; margin-bottom:10px;}
                     p{float:left;clear:both; font-size:.9em;}
       }
       #link-block {
           h3{color:#898989;display:block;min-height:1.25em}
           ul {
               li{list-style:none;
                  a{display:block; background: url(../images/arrow-sprite.png) 0px -46px no-repeat; line-height: 35px; padding-left:30px; font-weight:bold; font-size:.8em;
                    &:hover{background-position:0px -21px;}
                  }
               }
           }
       }
       #footer-bottom {
           line-height:2rem;
           padding: $small-gut 0;
           #copyright{float:left; font-size:0.8em;}
           #footer-phone{float:left; font-weight:bold; font-size:2em;color:#f15c22;}
           #footer-link{float:right;font-size:0.8em;font-weight:bold;text-align:right;
                        a{color:#898989;
                          &:hover{color:#00bce4;}
                        }
           }
       }
}