code textarea{clear:both; margin-bottom:80px; width:80%;}

/* ------- Fluid Columns ------- */
.one-half{ width:46%; }
.one-third{ width:28.66%;}
.two-third{ width:63.33%; }
.one-fourth{ width:20%; }
.three-fourth{ width:72%; }
.one-fifth{ width:16%; }
.two-fifth{ width:36%; }
.three-fifth{ width:68%; }
.four-fifth{ width:84%; }
.one-sixth{ width:13.33%; }
.five-sixth{ width:82.67%; }
.one-half,.one-third,.two-third,.three-fourth,.one-fourth,.one-fifth,.two-fifth,.three-fifth,.four-fifth,.one-sixth,.five-sixth{ position:relative; padding-right:4%; overflow:hidden; margin:0px 0 20px 0; float:left; }
.last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%;}
.space {height:1px;width:100%;clear:both;background:none;padding:10px 0;}


/*
	Typography
Moved to style/css/typhography.scss - 03/02/2015
*/

/*
	Header Block
*/
.header-block{border: 1px solid #e5e5e5; padding:20px; margin-bottom:30px;margin-top:30px;}

/*
	Separator
*/
.separator { width:100%;height:29px;border-bottom:1px solid #e5e5e5; margin-bottom:30px; clear:both;}

/* Buttons */


/*
	Accordion :: Must have js script
*/
.accordion{margin:30px 0 40px 0;clear:both;}
.accordion h3{display:block; padding:10px; font-size:18px; margin:0; border:1px solid #ddd; color:#555; text-shadow:1px 1px #fff;margin-bottom:3px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}
.accordion h3:hover {cursor: pointer; color:#555;
color:#00bce4;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.accordion div {padding:20px 0 20px 20px; font-size:14px;}
.plus {float:right;font-size:32px;font-weight:normal;line-height:16px;}

/*
	TOC
*/
.toc{float:left; background:#fafafa; border:1px solid #e5e5e5; padding:20px; margin:4px 25px 30px 0;}
.toc h2{ font-size: 1.5em; line-height: 30px; color:#555; border-bottom:1px solid #e5e5e5; text-shadow:1px 1px #fff;}
.toc a{font-size:14px; float:left; font-style: italic; margin-bottom:3px; clear:both;}
.toc a:hover{}

.boxed{float:left; background:#f5f5f5; border:1px solid #e5e5e5; padding:20px; margin:0 25px 20px 0;}
.boxed h2{line-height: 30px; font-family: Georgia, sans-serif;  font-style: italic; color:#555; border-bottom:1px solid #e5e5e5; text-shadow:1px 1px #fff;}
.boxed a{color:#0082c8; font-size:14px; float:left; font-style: italic; margin-bottom:3px; clear:both;}
.boxed a:hover{color:#0054a6;}


/*
	No Margin
*/
.no-margin-left{margin-left:-40px;}
.no-margin-right{margin-right:-40px;}


/*
custom box background divs
*/


.prison {
background: url("../images/prison.jpg") top left repeat;
width:auto;
margin:40px 0px;clear:both;overflow:auto;
height:auto;
padding:2em 2em 2em 2em;
color:#ffffff;
font-size: 16px;
}

.prison h2{color:#ffffff;}


.arrest {
background: url("../images/arrest.jpg") top left repeat;
width:auto;
margin:40px 0px;clear:both;overflow:auto;
height:auto;
padding:2em 2em 2em 2em;
font-size: 16px;
}

.arrest h2{color:#f15c22;}


.box.lblue.cocainelines{
background: url("../images/cocaine-lines.jpg") top left repeat;
}

.box.lblue.heroinspoon{
background: url("../images/heroin-spoon.jpg") top left repeat;
}

.box.lblue.pills{
background: url("../images/pills.jpg") top right repeat;
}




/* custom thin lines with arrows */


.arrow-down-right {
background: url("../images/line.png") top left;
width:467px;
height:50px;
clear:both;overflow:auto;
}

.half-arrow-down-right {
background: url("../images/line1.png") top left;
width:467px;
height:50px;
clear:both;overflow:auto;
}

.half-arrow-down-left {
background: url("../images/line3.png") top left;
width:467px;
height:50px;
clear:both;overflow:auto;
}

.half-arrow-down {
background: url("../images/line4.png") top left;
width:467px;
height:50px;
clear:both;overflow:auto;
}

.arrow-up-over {
background: url("../images/line5.png") top left;
width:866px;
height:50px;
clear:both;overflow:auto;
}

.arrow-up-right-left {
background: url("../images/line6.png") top left;
width:866px;
height:50px;
clear:both;overflow:auto;
}

