/*-----------------
SHORTCODES
-------------------*/
#content {
	color: #3C3C3C;
}

/*Headings*/
#content h1,  #content h2, #content h3, #content h4, #content h5, #content h6 {
	margin-bottom: 1rem;
	color: #3C3C3C;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

#content h1 {
	text-transform: none;
	font-size: 2.5rem;
	line-height: 1.25;
	font-family: Georgia,Helvetica,sans-serif;
}

#content h2 {
	font-size: 2rem;
	line-height: 1.25;
}

#content h3 {
	font-size: 1.5rem;
	line-height: 1.25;
}

#content h4 {
	font-size: 1.25rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.25;
	letter-spacing: 1px
}

#content h5 {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.25;
	font-family: Georgia,Helvetica,sans-serif;
}

#content h6 {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.25;
}

#content p {
	font-size: 1.125rem;
	color: #3C3C3C;
}


/*Divider*/
.sl_divider {
	background-color: #EBF5FA;
	height: 2px;
	margin: 2rem 0;
	width: 100%;
}

/*Columns*/
.sl_columns{
	margin-bottom: 1rem;
}

.sl_columns > :last-child {
	margin-bottom: 0;
}

#content blockquote {
	background: none;
	font-size: 1.125rem;
	color: #3C3C3C;
	line-height: 1.5;
	font-style: normal;
	padding: 0 0 0 32px;
	border-left: 8px solid #F15C22;
	margin-bottom: 2rem;
}

#content blockquote cite{
	font-size: 1.25rem;
	color: #3C3C3C;
	line-height: 1;
	font-style: normal;
	text-transform: uppercase;
	margin-top: 1rem;
	letter-spacing: 1px;
	font-weight: 700;
}

#content blockquote.secondary{
	padding: 0;
	border: none;
}

/*Lists*/
#content ul.list-primary, #content ul.list-secondary, #content ul.list-disc {
	list-style: none;
	margin-left: 1.5rem;
}

#content ul.list-primary li, #content ul.list-secondary li, #content ul.list-disc li{
	margin-bottom: 1rem;
}

#content ul.list-primary li:before, #content ul.list-secondary li:before, #content ul.list-disc li:before{
	content: '';
	background-color: #01BCE3;
	border-radius: 50%;
	display: inline-block;
	margin-left: -1.5rem;
	margin-right: 1rem;
	width: .5rem;
	height: .5rem;
	font-size: 1.5rem;
}

#content ul.list-secondary li:before {
	background-color: #3C4754;
}

#content ul.list-disc li:before {
	background-color: #FFFFFF;
	border: 2px solid #F15C22;
	width: 1rem;
	height: 1rem;
	margin-left: -2rem;
	margin-bottom: -3px;
}

/*Callouts*/
#content .sl_callout{
	border: none;
	background-color: #EBF5FA;
	padding: 32px;
	margin-bottom: 2rem;
	border-radius: 5px;
}

#content .sl_callout > :last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

#content .sl_callout.secondary > *, #content .sl_callout.primary > * {
	color: #FFFFFF;
}

#content .sl_callout.primary {
	background-color: #00ADD1;
}

#content .sl_callout.secondary{
	background-color: #3C3C3C;
}

#content .sl_callout.border {
	background-color: #ffffff;
	border: 2px solid #3C3C3C;
}

/*Callout Cards*/
#content .sl_callout-card{
	background-color: #EBF5FA;
	overflow: hidden;
	border-radius: 5px;
 	margin-bottom: 2rem;
}

#content .sl_callout-card.primary {
	background-color: #D96344;
}

#content .sl_callout-card.secondary {
	border: none;
	background-color: #3C3C3C;
	color: #FFFFFF;
}

#content .sl_callout-card .card-media {
	height: 225px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#content .sl_callout-card .card-content {
	padding: 32px;
}

#content .sl_callout-card.secondary .card-content > * {
	color: #ffffff;
}

#content .sl_callout-card .card-content > :last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

#content .sl_callout.no-box, #content .sl_callout.no-box-large {
	border: none;
	background: none;
	color: #3C3C3C;
	padding: 2rem;
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: 0;
}

#content .sl_callout.no-box {
	border: none;
	background: none;
	padding: 2rem;
	font-size: 1.125rem;
	line-height: 2rem;
}

@media only screen and (max-width:767px) {
	#content .sl_callout {
		padding: 1.5rem;
	}

	#content .sl_callout.no-box, #content .sl_callout.no-box-large {
		padding: 1.5rem;
	}

	#content .sl_callout-card .card-content {
		padding: 1.5rem;
	}
}


/*Buttons*/
a.sl_button {
	background-color: #01BCE3;
	font-weight: 700;
	font-size: 1.25rem;
	padding: 1rem 2rem;
	transition: all .3s ease-in-out;
	border-radius: 5px;
	margin-bottom: 1rem;
}

a.sl_button:hover {
	background-color: #0199B9;
	transition: all .3s ease-in-out;
}

a.sl_button.primary {
	background-color: #F15C22;
}

a.sl_button.primary:hover {
	background-color: #DB531D;
}

a.sl_button.secondary {
	background-color: #3C3C3C;
	color: #FFFFFF;
}

a.sl_button.secondary:hover {
	background-color: #1E1D1D;
}

a.sl_button.border {
	background-color: #FFFFFF;
	border: 2px solid #3C3C3C;
	color: #3C3C3C;
}

a.sl_button.border:hover {
	background-color: #3C3C3C;
	color: #ffffff;
}

a.read-next {
	text-transform: uppercase;
}

/*Tabs*/
#content .sl_tabs {
	margin: 0;
	background: none;
	padding: 0;
	display: flex;
	border: none;
	overflow: hidden;
	border-radius: 5px 5px 0px 0px;
	flex-direction: row;
	justify-content: stretch;
}

#content .sl_tabs.secondary {
	border: none;
}

#content .sl_tabs:not(.secondary) .tabs-title:not(:last-of-type) {
	border-right: 1px solid #B9CAD2;
}

#content .sl_tabs .tabs-title {
	background-color: #CEE1EA;
	position: relative;
	flex: 1 1 auto;
}

#content .sl_tabs .tabs-title > a {
	color: #3C4754;
	font-size: 1.25rem;
	transition: .2s all ease-in-out;
	text-align: center;
	padding: 1.25rem;
}

#content .sl_tabs.secondary .tabs-title > a {
	background-color: #EBF5FA;
}

#content .sl_tabs .tabs-title > a[aria-selected='true'] {
	background-color: #01BCE3;
	color: #FFFFFF;
	font-weight: 700;
}

#content .sl_tabs.secondary .tabs-title > a[aria-selected='true'] {
	background-color: #EBF5FA;
	color: #3C3C3C;
}

#content .sl_tabs .tabs-title > a[aria-selected='true']:hover {
	background-color: #01BCE3;
}

#content .sl_tabs.secondary .tabs-title > a[aria-selected='true']:hover {
	background-color: #EBF5FA;
}

#content .sl_tabs.secondary .tabs-title:after {
	content: '';
	position: absolute;
	bottom: 0;
	display: block;
	background-color: #01BCE3;
	height: 0px;
	width: 100%;
	transition: .2s all ease-in-out;
}

#content .sl_tabs.secondary .tabs-title.is-active:after {
	height: 5px;
	transition: .2s all ease-in-out;
}

#content .sl_tabs .tabs-title > a:hover {
	background-color: #AAD2DE;
}

#content .sl_tabs.secondary .tabs-title > a:hover {
	background-color: #CEE1EA;
}

#content .sl_tabs-content{
	border: none;
	background-color: #EBF5FA;
	margin-bottom: 32px;
	border-radius: 0px 0px 5px 5px;
}

#content .sl_tabs-content.secondary {
	border: none;
	background-color: #3C3C3C;
}

#content .sl_tabs-content.secondary .tabs-panel > * {
	color: #ffffff;
}

#content .sl_tabs-content .tabs-panel {
	padding: 32px;
}

#content .sl_tabs-content .tabs-panel > :last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  #content .sl_tabs {
    display: block;
  }

  #content .sl_tabs .tabs-title {
    width: 100%;
    border-left: 0 !important;
    border-right: 0 !important;
  }

  #content .sl_tabs.secondary .tabs-title.is-active:after {
    display: none;
  }

  #content .sl_tabs.secondary .tabs-title > a[aria-selected='true'] {
	background-color: #01BCE3;
	color: #FFFFFF;
	font-weight: 700;
	}
}

@media only screen and (max-width:767px) {
	#content .sl_tabs-content .tabs-panel {
		padding: 1.5rem;
	}
}

/*Accordions*/
#content .sl_accordion {
	border: none;
	margin-bottom: 32px;
	padding: 0;
	border-radius: 0;
	background:none;
}

#content .sl_accordion .accordion-item {
	background-color: #EBF5FA;
	color: #3C3C3C;
	margin-bottom: 1rem;
	border-radius: 5px;
}

#content .sl_accordion.secondary .accordion-item {
	border: 2px solid #3C3C3C;
	border-top: 1px solid #3C3C3C;
	border-bottom: 1px solid #3C3C3C;
	background-color: #FFFFFF;
	margin-bottom: 0;
	border-radius: 0;
}

#content .sl_accordion.secondary .accordion-item:first-of-type {
	border-radius: 5px 5px 0px 0px;
	border-top: 2px solid #3C3C3C;
}

#content .sl_accordion.secondary .accordion-item:last-of-type {
	border-radius: 0px 0px 5px 5px;
	border-bottom: 2px solid #3C3C3C;
}

#content .sl_accordion .accordion-item.is-active {
	background-color: #01BCE3;
	color: #FFFFFF;
}

#content .sl_accordion.secondary .accordion-item.is-active {
	background-color: #FFFFFF;
	color: #3C3C3C;
}

#content .sl_accordion .accordion-item .accordion-title{
	border: none;
	background: none;
	font-size: 1.5rem;
	color: #3C3C3C;
	padding: 1.5rem 2rem;
}

#content .sl_accordion .accordion-item .accordion-title:before{
	color: #01BCE3;
	font-size: 2.5rem;
	top: calc(50% - 20px);
	margin-top: 0;
}

#content .sl_accordion .accordion-item.is-active .accordion-title:before{
	color: #FFFFFF;
}

#content .sl_accordion.secondary .accordion-item .accordion-title:before{
	color: #3C3C3C;
}


#content .sl_accordion .accordion-item.is-active .accordion-title{
	font-weight: 700;
	color: #FFFFFF;
	box-shadow: none;
}

#content .sl_accordion.secondary .accordion-item.is-active .accordion-title {
	color: #353535;
}

#content .sl_accordion .accordion-item .accordion-content {
	background: #EBF5FA;
  	padding: 32px;
  	border: none;
}

#content .sl_accordion .accordion-item .accordion-content > * {
	color: #353535;
}

#content .sl_accordion .accordion-item .accordion-content > :last-child {
	margin-bottom: 0;
}

#content .sl_accordion.secondary .accordion-item .accordion-content {
	background: #3C3C3C;
}

#content .sl_accordion.secondary .accordion-item .accordion-content > *{
	color: #FFFFFF;
}

@media only screen and (max-width:767px) {
	#content .sl_accordion .sl_accordion-item  .accordion-title {
		padding: 1.5rem;
	}

	#content .sl_accordion .sl_accordion-item  .accordion-content {
		padding: 1.5rem;
	}
}

/* READ NEXT SHORTCODE */
.sl_read-next {
	padding: 1.5rem;
	border: 2px solid #3C3C3C;
	border-radius: 5px;
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 1.25rem;
	color: #3C3C3C;
}

.sl_read-next.large {
	font-size: 1.5rem;
	background-color: #01BCE3;
	color: #ffffff;
	border: none;
}

.sl_read-next span {
	text-transform: uppercase;
}

.sl_read-next a {
	font-weight: 700;
	text-decoration: underline;
	color: #01BCE3;
}

.sl_read-next a:hover {
	text-decoration: underline;
}

.sl_read-next.large a {
	color: #FFFFFF;
}

.sl_read-next span:before {
    content: '\f054';
    position: inline-block;
    font-family: fontAwesome;
    margin-right: 1rem;
}

@media only screen and (max-width:767px) {
	.sl_read-next.large {
		font-size: 1.25rem;
	}
}

/* CTA SHORTCODE */
#content .sl_cta {
	background-color: #EBF5FA;
	padding: 32px 48px;
	margin-bottom: 32px;
	border-radius: 5px;
}

#content .sl_cta .frn_phone {
	font-weight: 700;
	font-size: 30px;
}

#content .sl_cta__text {
	text-align: center;
	padding-top: 32px;
}

#content .sl_cta .column:first-of-type {
	padding-left: 0;
	margin-bottom: 0;
}

#content .sl_cta .column:last-of-type {
	border-left: 2px solid #AAD2DE;
	padding-right: 0;
	margin-bottom: 0;
}

#content .sl_cta p {
	color: #353535;
	font-family: Effra, sans-serif;
	font-size: 24px;
	line-height: 1;
	padding: 0 !important;
	margin-bottom: 0;
}

#content .sl_cta__button_group {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	ms-flex-align: center;
}

#content .sl_cta__button {
	display: block;
	background-color: #01BCE3;
	color: #FFFFFF;
	border-radius: 5px;
	font-size: 24px;
	padding: 16px;
	line-height: 1;
	text-align: center;
	width: 100%;
	max-width: 290px;
	margin-left: auto;
	margin-right: auto;
}

#content .sl_cta a.sl_cta__button:hover {
	background-color: #0199B9;
	color: #FFFFFF;
	text-decoration: none;
}

#content .sl_cta__button_group .sl_cta__button:first-of-type {
	margin-bottom: 16px;
}

/* Inverse styles */
#content .sl_cta.sl_cta--inverse {
	background-color: #01BCE3;
}

#content .sl_cta.sl_cta--inverse p {
	color: #FFFFFF;
}

#content .sl_cta.sl_cta--inverse .column:last-of-type {
	border-left: 1px solid #FFFFFF;
}

#content .sl_cta.sl_cta--inverse a.sl_cta__button {
	background-color: #F15C22;
}

#content .sl_cta.sl_cta--inverse a.sl_cta__button:hover {
	background-color: #DB531D;
}

#content .sl_cta.sl_cta--inverse .frn_phone {
	font-weight: 700;
	font-size: 30px;
	color: #FFFFFF;
}

/*CTA Shortcode Small Only*/
@media only screen and (max-width:767px) {
	#content .sl_cta {
		padding: 16px;
	}

	#content .sl_cta__text {
		padding-top: 0;
	}

	#content .sl_cta .sl_cta__text > *, .sl_cta__button {
		font-size: 20px;
	}

	#content .sl_cta .sl_row {
		width: 100%;
		margin: auto;
	}

	#content .sl_cta .sl_columns:first-of-type {
		padding: 0;
		margin-bottom: 16px;
	}

	#content .sl_cta .sl_columns:last-of-type {
		border: none !important;
		padding: 0;
	}

	#content .sl_cta__button {
		max-width: none;
	}

	#content .sl_cta.sl_cta--inverse .sl_columns:last-of-type {
		border: none;
	}
}

/*-----------------
END SHORTCODES
-------------------*/

/*----------------
Email Form
------------------*/
.sl_card--email {
	padding: 32px;
	max-width: 750px;
	margin: 0 auto;
	background-color: #EBF5FA;
	margin-bottom: 24px;
	border-radius: 5px;
}

.sl_footer__email .sl_card--email {
	margin-bottom: 0;
}

#content .sl_card--email h3, .sl_card--email h3  {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1.5rem;
	font-weight: 600;
	line-height: 1;
	padding-bottom: 0;
}

.sl_form--email {
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	-webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
  	-ms-flex-direction: row;
	flex-direction: row;
	padding: 0 5px;
}

.sl_form__multiselect {
	width: 200px;
	max-width: 40%;
	position: relative;
	-webkit-flex: 1 1 40%;
	-ms-flex: 1 1 40%;
	flex: 1 1 40%;
}

.sl_form__input, .sl_form__multiselect__field {
	position: relative;
	background: #fefefe;
	padding: 10px 16px;
	border: 1px solid #CACACA;
	font-size: 16px;
	margin: 0 5px;
	height: 46px;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

.sl_form__multiselect__field {
	color: #ABABAB;
	scrollbar-width: none;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	position: relative;
}

.sl_form__multiselect__field::-webkit-scrollbar {
	background: none;
	height: 4px;
}

.sl_form__multiselect__field::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.3);
	border-radius: 2px;
}

.sl_form__multiselect__field:focus {
	border: 1px solid #8a8a8a;
    background: #fefefe;
    outline: none;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

.sl_form__input {
	-webkit-flex: 1 1 40%;
  	-ms-flex: 1 1 40%;
  	flex: 1 1 40%;
}

input.sl_form__input::placeholder {
	color: #ABABAB
}

.sl_form__multiselect__options {
	display: none;
	background: #ffffff;
	position: absolute;
	width: auto;
	left: 5px;
	right: 5px;
	padding: 5px 0;
	top: calc(100% - 1px);
	z-index: 1;
	box-shadow: 0px 9px 18px 0 rgba(0,0,0,.15);
}

.sl_form__multiselect__options label {
	display: block;
	padding: 5px 10px;
	padding-left: 32px;
	line-height: 1;
	position: relative;
}

.sl_form__multiselect__options label input {
	position: absolute;
	left: 10px;
	top: calc(50% - 6.5px);
	margin: 0;
}

.sl_form__multiselect__options label:hover {
	background: #dadada;
}

.sl_form__multiselect__options {
	font-family: "Source Sans Pro";
}

.sl_card--email .sl_button {
	color: white;
	background: #F15C22;
	border: none;
	padding: 10px 32px;
	font-size: 16px;
	font-weight: 600;
}

.sl_form--email .sl_button {
	margin: 0 5px;
	flex: 1 1 auto;
}

.sl_card--email #mce-responses {
	text-align: center;
}

.sl_card--email #mce-responses .response {
	padding: 16px 5px 0px;
}

.sl_card--email #mce-responses .response a {
	display: block;
}

/* Media Query For Small */
@media only screen and (max-width:767px) {
	.sl_footer__email {
		padding: 1.5rem 0 2rem;
	}

	.sl_footer__email .sl_inner {
		padding: 0 1.5rem;
	}

	.sl_card--email {
		padding: 20px;
	}

	.sl_card--email h3 {
		text-align: center;
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.sl_form--email {
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	  	-ms-flex-direction: column;
		flex-direction: column;
		padding: 0;
	}

	.sl_form__multiselect {
		width: 100%;
		max-width: none;
	}

	.sl_form__input, .sl_form__multiselect__field {
		margin: 0 0 16px;
	}

	.sl_form--email .sl_button {
		margin: 0;
	}

	.sl_card--email #mce-responses .response {
		padding: 16px 0px 0px;
	}
}/*End Media Query */

/*----------------
End Email Form
------------------*/

/* Added for the Sharethis Plugin to remove the <br> tags to keep it horizontal. */
.no-break br {
	display: none !important;
}