/*
Grid Variables and Alignment
*/
/* 
    Created on : Mar 2, 2015, 5:19:30 PM
    Author     : hubertchang
*/

$small-down: "#{$screen} and (max-width:#{lower-bound($small-range)})";
$medium-down: "#{$screen} and (max-width:#{lower-bound($medium-range)})";
$large-down: "#{$screen} and (max-width:#{lower-bound($large-range)})";
$small-gut: ($column-gutter/2);
%flexbox{
    display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-flex-flow:column nowrap;-ms-flex-flow:column nowrap;flex-flow:column nowrap;
}

#split-left, #split-right{padding: $column-gutter;}    
@media #{$medium-up}{
    .main-block{padding: $column-gutter;}    
}
.valign-middle{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;
               @media #{$small-only}{
                   display: block;
               }
}
.flexbox{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;}
.verticalmargin{margin: ($column-gutter/2) 0;}
.full-content-block{padding: $column-gutter 0;}