/*
Header styling
*/
/* 
    Created on : Mar 4, 2015, 2:15:14 PM
    Author     : hubertchang
*/

/*Responsive Menu*/
.mm-menu.mm-front.mm-bottom, .mm-menu.mm-front.mm-top {height: 100%;min-height: 140px;}
html.mm-blocking #mm-blocker, html.mm-opened #mm-blocker{display: none;}
.mm-menu{
    width:69%;min-width:300px;max-width:300px;
        @media #{$small-only}{
   width:69%;min-width:250px;max-width:250px;     
    }
}
html.mm-opening .mm-slideout{
    -webkit-transform:translate(69%,0);-ms-transform:translate(69%,0);transform:translate(69%,0);
        @media #{$small-only}{
    -webkit-transform:translate(69%,0);-ms-transform:translate(69%,0);transform:translate(69%,0);    
    }
}
html.mm-opening .mm-slideout {
    -webkit-transform: translate(300px, 0px);-ms-transform: translate(300px, 0px);transform: translate(300px, 0px);
        @media #{$small-only}{
    -webkit-transform: translate(250px, 0px);-ms-transform: translate(250px, 0px);transform: translate(225px, 0px);    
    }
}

/*sticky header*/
#sub-head{clear:both;position:fixed;z-index:9999;width:100%;top:0;background:#3c3c3c;padding-top:10px;padding-bottom:10px}
#sub-head .call-text{color:#FFF;font-size:16px;padding-top:10px;display:block;margin-left:60px;padding-right:15px;line-height:23px;float:left;font-weight:bold}
#sub-head .logo{background:url(../images/logo-footer.png) top left no-repeat;width:201px;height:36px;text-indent:-9999px;float:left}
#sub-head #frn_phones {display: inline-block;}
#sub-head .phone {font-size: 2.4em; font-weight: bold;}
#sub-head .row{-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-flow: row wrap;-ms-flex-flow: row wrap;flex-flow: row wrap;}


/*Other Header*/
header{}
#logo a{display:block; width:210px; height:40px; text-indent:-99999px; background: url(../images/logo.png) top left no-repeat;}
#tagline{float:left; clear:both; font-size:.8em; color:#bababa; margin-bottom:0;}
#phone-bar{float:right; background:#3c3c3c; padding:10px 15px;
           -webkit-border-bottom-right-radius: 5px;
           -webkit-border-bottom-left-radius: 5px;
           -moz-border-radius-bottomright: 5px;
           -moz-border-radius-bottomleft: 5px;
           border-bottom-right-radius: 5px;
           border-bottom-left-radius: 5px;
}
#phone-bar p{margin-bottom:0;}
#phone-bar span{float:left;}
#phone-bar .white-text{line-height:30px;color:#FFF;margin-right:15px;font-size:.8em; font-weight:bold;}
#phone-bar .phone{color:#fff;font-family: 'Helvetica Rounded', sans-serif; font-size:2em; line-height:30px; font-weight:bold;}
@media #{$large-down}{
    #phone-bar, #phone-bar span, #top-bar, #logo{
        display: block; float: none;border-radius: 0;
    }
    #tagline, #logo{margin: ($column-gutter/2) 0;}
    #logo{position: relative; height: 40px;margin-left: 50px;}
    #logo a {margin: 0 auto;position: relative;}
    #top-bar{
        margin-left: -($column-gutter/2);
        margin-right: -($column-gutter/2);
        margin-top: 0;
        margin-bottom: 0;
    }
    #phone-bar span{padding: 0;}
    #tagline, nav#topnav{display: none;}
    #sub-head .call-text{background-position: center center; float: none;}
    #sub-head .logo{width: 100%; background-position: center center; float: none;}
    #sub-head .phone, #sub-head .call-text {text-align: center;margin: 0; float: none;width: 100%;} 
}

@media #{$large-up}{
    #top-bar{position:absolute; top:0; right:10px;}
    #top-bar{
        #topnav{display: block;}
    }
    header{}
    #logo a{display:block; position: relative; width:210px; height:40px; text-indent:-99999px; background: url(../images/logo.png) top left no-repeat;}
    #tagline{display: block;float:left; clear:both; font-size:.8em; color:#bababa; margin: 10px 0 $small-gut;}
    #phone-bar{float:right; background:#3c3c3c; padding:10px 15px;
               -webkit-border-bottom-right-radius: 5px;
               -webkit-border-bottom-left-radius: 5px;
               -moz-border-radius-bottomright: 5px;
               -moz-border-radius-bottomleft: 5px;
               border-bottom-right-radius: 5px;
               border-bottom-left-radius: 5px;
    }
    #phone-bar p{margin-bottom:0;}
    #phone-bar span{float:left;}
    #phone-bar .orange-text{line-height:30px;color:#f15c22;margin-right:15px;font-size:.8em; font-weight:bold;}
    #phone-bar .phone{color:#fff;font-family: 'Helvetica Rounded', sans-serif; font-size:2em; line-height:30px; font-weight:bold;}
    #logo{
        float:left; margin:20px 0 0 0;
    }
}
@media #{$medium-only}{
    header{
        min-height: 80px;
    }
    #logo a{
        margin-left: 1.875rem;
    }
    #top-bar{
        margin-right: -0.9375rem;
        position: absolute;
        right: 0;
        top: 0;
    }
}
@media #{$small-only}{
    header{
        background: #f5f9fb;
        position: fixed !important;
        z-index: 41;
    }
    .main-block{
        margin-top: 10rem;
    }
    #top-bar{
        text-align: center;
    }
    #sub-head{
        background-color: #f5f9fb;
        padding-top: 0;
        padding-bottom: 0;
        #phone-bar {
            .orange-text{text-align: center;}
        }
        #responsive-menu-button-sub{top: 5px;left: $small-gut;}
        @media #{$small-only}{
            display: none !important;
        }
    }
}