/*
Typography for Dual Diagnosis
*/
/* 
    Created on : Mar 2, 2015, 2:34:15 PM
    Author     : hubertchang
*/
$red: #bb0505;
$blue: #0b2598;
$ltblue: #00b9e4;
$orange: #f15c22;
$green: #39790a;
$purple: #430c8f;
$gray: #ece9e4;
$font-family: Georgia, Helvetica, sans-serif;
$line-height: 1.5em;

a{color: $ltblue;}

@media #{$medium-up} {
h1,h2,h3,h4,h5,h6{line-height:1.3em; margin-bottom:10px; font-family: Georgia, Helvetica, sans-serif; color:#3c3c3c; font-weight:normal;}
h1{font-size:2em;}
h2{font-size:1.5em;}
h3{font-size:1.3em;}
h4{font-size:1.1em;}
h5{font-size:0.85em;}
h6{font-size:0.67em;}
p{margin-bottom: 15px;}
    }

[class^="big"]{font-size:1.5em; line-height:$line-height;font-family: $font-family;}
.bigblue{
    @extend [class^="big"];
    color: $blue;
}
.bigred{
    @extend [class^="big"];
    color: $red;
}
.bigorange{
    @extend [class^="big"];
    color: $orange;
}
.biggreen{
    @extend [class^="big"];
    color: $green;
}
.bigpurple{
    @extend [class^="big"];
    color: $purple;
}
.sub-text{font-size:1.2em; color: #555; line-height:$line-height;font-family: $font-family;}

/*//___Footer___\\*/
footer #link-block h3{
    color:#898989;display:block;min-height:1.25em;
    @media #{$small-only}{
        min-height: auto;
    }
}

/*Link*/
#frn_phones{
    cursor: pointer;
    color: $orange;
    &:hover{
        color: $ltblue;
    }
}
a[href^=tel]{
    color: $orange;
    &:hover{
        color: $ltblue;
    }
}