/*
Theme Name:Dual Diagnosis
Description: Base Theme
Version: v1
Author: Ranklab
Author URI: http://frothygoodness.com
*/
@import "style/css/layout.css";
@import "style/css/formatting.css";


/* 
  Responsive iframes CSS -- Benefits SoberGuy Podcast players mostly
  Requires two transparent images (one for audio, and one for video) to get the height/width ratio.
  Search content in admin by CSS name below to find posts with iframe embedded.
*/
.frn_iframe_wrap {
    width: 100%;
    background-color:#ccc;
    height: auto;
    margin-left: 0;
}
.frn_iframe_block {position:relative; height: 90px; margin: 15px 0 20px 0; border: 1px solid #ccc; box-shadow: #ccc 0px 1px 10px;}
.frn_iframe_block .ratio {display:block;width:100%;height:auto; position: relative; }
.frn_iframe_block iframe {position:absolute;top:0;left:0;width:100%; height:100%; z-index: 1000;}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* tablet */
  .frn_iframe_wrap {
      width: 100%;
      height: auto;
      background: #CCC;
  }
}
@media only screen and (max-device-width:767px){
  /* smartphone */
  .frn_iframe_wrap {width:100%;height:auto;margin:0 auto;background:#CCC;
  }
}

/*Article Styles*/
.blockquote-big {
line-height: 1.4;
color: #6f6f6f;
font-size: 1.4rem;
margin: 0 0 1.25rem;
padding: 2.5rem;
border-left: 10px solid #DDD;
border-radius: 10px;
background-color: #cccccc;
}